/node_modules
/public/files
/public/hot
/public/larafile
/public/larafile-standalone
/public/thumbs
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
error.log
error_log
.DS_Store
